.info-container{
    border: 1px solid red;
    width: 400px;
    margin:10px;
    margin-left: 200px;
    padding: 10px;
}
.info-container img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}